body {
    overflow-x: hidden;
}

.offer-class-button.active,
.offer-item-button.active,
.suffix-button.active,
.affix-button.active {
    color: #1de9b6;
    /* Add your desired style for the active state */
}

.affix-button.rejected,
#offer-bid.changed {
    color: #f90372 !important;
}


output {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#offer-bid {
    width: 40%;
    text-align: center;
}

#offer-bid-label {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

#offer-bid {
    font-size: 1.5rem;
}

.bid-button {
    cursor: pointer;
    font-size: 1.5rem;
    width: 1.7rem;
}

/* Loader  */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #424242;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.loader img {
    width: 256px;
    height: 34px;
}

.loader-hidden {
    animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
    100% {
        opacity: 0;
        visibility: hidden;
        z-index: -2;
    }
}