* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Short Stack", cursive;
}

:root {
    --teal-color: #1DE9B6;
    /* This color is not used across the website but it is main colour for a background picture and left over for testing purposes and future additions if needed.*/
    --orange-color: #E8AF05;
    --green-color: #039C75;
    --purple-color: #D733E8;
    --gold-color: #9C770B;
}

body {
    overflow-x: hidden;
}

tbody {
    width: 100%;
}

input,
textarea {
    color: white;
}

.brand-logo img {
    height: 2em;
}

@media screen and (max-width: 500px) {
    .brand-logo img {
        height: 1.5rem;
    }
}

@media screen and (max-width: 35px) {
    .brand-logo img {
        height: 1rem;
    }
}

/* The fallowing is colour classes */
.teal-color {
    background-color: var(--teal-color);
}

.teal-color-text {
    color: var(--teal-color);
}

.orange-color {
    background-color: var(--orange-color);
}

.orange-color-text {
    color: var(--orange-color);
}

.green-color {
    background-color: var(--green-color);
}

.green-color-text {
    color: var(--green-color);
}

.purple-color {
    background-color: var(--purple-color);
}

.purple-color-text {
    color: var(--purple-color);
}

.gold-color {
    background-color: var(--gold-color);
}

.gold-color-text {
    color: var(--gold-color);
}

/* Collor classes end */

.message-circle {
    width: 30px;
    height: 30px;
    background-color: var(--purple-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin-right: 5px;
}

#nav-message {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* filter form modifications */
#slide-out h5 {
    margin: 0.8rem;
}

#filter-form div {
    margin: 2rem 1rem;
}

.input-field.col.s4 {
    margin: 0 !important;
}

.swich-offers {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.swich-offers i {
    font-size: 1.8rem;
}



/* Offer creation  */
.offer-class-button.active,
.offer-item-button.active,
.suffix-button.active,
.affix-button.active {
    color: var(--teal-color);
}

.affix-button.rejected,
#offer-bid.changed {
    color: var(--purple-color) !important;
}

/* Bid settings */
output {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#offer-bid {
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
}

.bid-info {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.bid-button {
    cursor: pointer;
    font-size: 1.5rem;
    width: 1.7rem;
}

.card-action p {
    margin-bottom: 0.7rem;
}

.bid-table th {
    text-align: center;
}

.bid-table table tr {
    border-bottom: var(--orange-color) 1px solid
}

.offer-user-link {
    margin-right: 0 !important;
}


/* materialise transforms card action links to upercase which i use for linking profile of another user. Proper casing is important
 */
.card .card-action a {
    text-transform: none !important;
}

.accept-hidden {
    visibility: hidden;
}

/* Loader  */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #424242;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.loader img {
    width: 256px;
    height: 34px;
}

.loader-hidden {
    animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
    100% {
        opacity: 0;
        visibility: hidden;
        z-index: -2;
    }
}

/* messages list */
.message-line {
    margin-bottom: 0px !important;
    display: block;
    margin: 5px;
    border-radius: 0.7rem;

}

.messages-user {
    text-decoration: underline;
}

.messages-name {
    box-sizing: border-box;
    white-space: nowrap;
    width: 100%;
    font-size: 1.2rem;
    margin: 0.5rem
}

.messages-message-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    width: 100%;
    margin: 0.5rem
}

.message-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Messsages chat design */
#chat-container {
    margin-top: 1rem;
}

#chat-window {
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    padding: 6px;
    display: flex;
    flex-direction: column;

}

/* style for user messages */
.user-message {
    align-self: flex-end;
    border-radius: 12px 12px 0px 12px;
    padding: 0px 12px;
    margin-bottom: 6px;
    max-width: 90%;
    border: var(--green-color) solid 2px;
    text-align: end;
}

/* Style for received messages */
.received-message {
    align-self: flex-start;
    border-radius: 12px 12px 12px 0px;
    padding: 0px 12px;
    margin-bottom: 6px;
    max-width: 90%;
    border: var(--gold-color) solid 2px;
}

.user-message p,
.recieved-message p {
    margin: 2px;
}

#message-form {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    gap: 10px;
}

#contacts-modal {
    padding-bottom: 1.5rem;
}

/* Profile page css */

.profile-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    gap: 10px;
    font-size: 1.2em;
    margin: 2px;
}