{% extends "base.html" %} {% block content %}

<div class="">
  <h3 class="light-blue-text text-darken-4 center-align">Add offer</h3>
</div>

<div class="row">
  <!-- Class picker -->

  <div class="row grey darken-3">
    <div class="center-align col s12">
      {% for class in p_class %} {% if class == user.class_preference %}
      <button
        class="waves-effect waves-light btn grey darken-3 main-choices offer-class-button active"
        data-class="{{ class }}"
      >
        {{ class }}
      </button>
      {% else %}
      <button
        class="waves-effect waves-light btn grey darken-3 main-choices offer-class-button"
        data-class="{{ class }}"
      >
        {{ class }}
      </button>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

<!-- is hardcore toogle -->
<div class="row center-align grey darken-3 " id="check-boxes">
  <div class="input-field col m6 s12">
    <div class="switch">
      <i class="fa-solid fa-skull prefix teal-text text-accent-3"></i>
      <label for="is_hardcore" class="teal-text text-accent-3">
        {% if user.is_hardcore == "on" %}
        <input type="checkbox" form="mainForm" id="is_hardcore" name="is_hardcore" checked />
        {% else %}
        <input type="checkbox" form="mainForm" id="is_hardcore" name="is_hardcore" />
        {% endif %}
        <span class="lever"></span>
        Hardcore
      </label>
    </div>
  </div>

  <!-- is season toogle -->

  <div class="input-field col m6 s12">
    <div class="switch">
      <i class="fa-brands fa-envira prefix teal-text text-accent-3"></i>
      <label for="is_season" class="teal-text text-accent-3">
        {% if user.is_season == "on" %}
        <input type="checkbox" form="mainForm" id="is_season" name="is_season" checked />
        {% else %}
        <input type="checkbox" form="mainForm" name="is_season" />
        {% endif %}
        <span class="lever"></span>
        Season
      </label>
    </div>
  </div>
</div>

<!-- Item picker -->
<div class="row grey darken-3">
  <div class="center-align col s12">
    {% for item in item_types %}
    <button
      class="waves-effect waves-light btn grey darken-3 main-choices offer-item-button"
      data-item="{{ item }}"
    >
      {{ item }}
    </button>
 {% endfor %}
  </div>
</div>

<!-- Suffixes -->
<div id="suffixes" class="row grey darken-3"></div>

<!-- Affixes -->
<div class="row grey darken-3">
  <div id="affixes" class="center-align col s12"></div>
</div>

<!-- Form -->
<div id="item-details" class="row card-panel grey lighten-5">
    <form class="col s12" id="mainForm" method="POST" action="#">

        <!-- Class -->
        <div id="class-invisible-data">
            <input id="class_data" name="class_data" type="hidden" readOnly="true">
        </div>

        <!-- item -->
        <div id="item-invisible-data">
            <input id="item_data" name="item_data" type="hidden" readOnly="true">
        </div>

        <!-- hardcore -->
        <div id="hardcore-invisible-data">
            <input id="hardcore" name="hardcore" type="hidden" readOnly="true">
        </div>

        <!-- Class -->
        <div id="season-invisible-data">
            <input id="season" name="season" type="hidden" readOnly="true">
        </div>

        <!-- suffix data -->
        <div id="suffix-data" class="row"></div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add item <i class="fas fa-plus-square right"></i>
            </div>
        </div>
    </form>
</div>

{% endblock %}
