{% extends "base.html" %} {% block content %}

<div class="">
  <h3 class="light-blue-text text-darken-4 center-align">Add offer</h3>
</div>

<div class="row">
  <!-- Class picker -->

  <div class="row grey darken-3">
    <div class="center-align col s12">
      {% for class in p_class %} {% if class == user.class_preference %}
      <button
        class="waves-effect waves-light btn grey darken-3 main-choices offer-class-button active"
        data-class="{{ class }}"
      >
        {{ class }}
      </button>
      {% else %}
      <button
        class="waves-effect waves-light btn grey darken-3 main-choices offer-class-button"
        data-class="{{ class }}"
      >
        {{ class }}
      </button>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

<!-- is hardcore toogle -->
<div class="row center-align grey darken-3">
  <div class="input-field col m6 s12">
    <div class="switch">
      <i class="fa-solid fa-skull prefix teal-text text-accent-3"></i>
      <label for="is_hardcore" class="teal-text text-accent-3">
        {% if user.is_hardcore == "on" %}
        <input type="checkbox" id="is_hardcore" name="is_hardcore" checked />
        {% else %}
        <input type="checkbox" id="is_hardcore" name="is_hardcore" />
        {% endif %}
        <span class="lever"></span>
        Hardcore
      </label>
    </div>
  </div>

  <!-- is seasson toogle -->

  <div class="input-field col m6 s12">
    <div class="switch">
      <i class="fa-brands fa-envira prefix teal-text text-accent-3"></i>
      <label for="is_seasson" class="teal-text text-accent-3">
        {% if user.is_seasson == "on" %}
        <input type="checkbox" id="is_seasson" name="is_seasson" checked />
        {% else %}
        <input type="checkbox" id="is_seasson" name="is_seasson" />
        {% endif %}
        <span class="lever"></span>
        Season
      </label>
    </div>
  </div>
</div>

<!-- Class picker -->

<div class="row grey darken-3">
  <div class="center-align col s12">
    {% for item in item_types %} {% if item == "Amulet" %}
    <button
      class="waves-effect waves-light btn grey darken-3 main-choices offer-item-button active"
      data-item="{{ item }}"
    >
      {{ item }}
    </button>
    {% else %}
    <button
      class="waves-effect waves-light btn grey darken-3 main-choices offer-item-button"
      data-item="{{ item }}"
    >
      {{ item }}
    </button>
    {% endif %} {% endfor %}
  </div>
</div>

<div class="row grey darken-3">
  <div id="suffixes" class="center-align col s12"></div>
</div>

{% endblock %}
