{% extends "base.html" %} {% block content %}

<div class="row grey darken-3">
  <div class="col s12 grey darken-3">
    <div class="card-panel grey darken-3">
      <h3 class="center-align grey darken-3">Chat with {{ reciever }}</h3>
    </div>

    <div class="card-content" id="chat-window">
      {% if message_data.messages | length == 0 %}
      <div class="center-align">
        <p>
          Start your chat with
          <span>
            <a
              href="{{ url_for('profile', username=reciever) }}"
              class="purple-color-text"
              >{{ reciever }}</a
            ></span
          >
          by sending them a first message
        </p>
      </div>

      {% endif %}

      <!-- Generated messages -->
      {% for message in message_data.messages %}

      <!-- bellow recongises and calculates the time to turn it in to user friendly format -->
      {% set time_d = (current_datetime - message.date).days %} {% set time_m =
      ((current_datetime - message.date).seconds / 60) | round(0, 'floor') | int
      %} {% set time_h = ((current_datetime - message.date).seconds / 3600) |
      round(0, 'floor') | int %} {% if time_d == 1 %} {% set tooltip = (time_d|
      string + " day ago") %} {% elif time_d > 0 %} {% set tooltip = (time_d|
      string + " days ago") %} {% elif time_m == 1 %} {% set tooltip = (time_m|
      string + " minute ago") %} {% elif time_m < 59 %} {% set tooltip =
      (time_m| string + " minutes ago") %} {% elif time_h == 1 %} {% set tooltip
      = (time_h| string + " hour ago") %} {% elif time_h < 59 %} {% set tooltip
      = (time_h| string + " hours ago") %} {% endif %}
      <!-- Messages acording to user -->
      {% if message.user == session.user %}
      <div class="user-message text-shadow">
        <p
          class="teal-color-text tooltipped"
          data-position="right"
          data-tooltip="{{ tooltip }}"
        >
          {{ message.message }}
        </p>
      </div>
      {% else %}
      <div class="received-message text-shadow">
        <p
          class="teal-color-text tooltipped"
          data-position="right"
          data-tooltip="{{ tooltip }}"
        >
          {{ message.message }}
        </p>
      </div>
      {% endif %} {% endfor %}
    </div>

    <form
      class="col s12"
      method="POST"
      action="{{ url_for('message', reciever=reciever) }}"
    >
      <div class="grey darken-3" id="message-form">
        <!-- message send -->

        <div class="input-field">
          <textarea
            id="message"
            name="message"
            class="materialize-textarea"
            required
          ></textarea>
          <label for="message">Send message</label>
        </div>
        <!-- Send message -->
        <button
          id="message-submit"
          type="submit"
          class="btn-small gold-color text-shadow"
        >
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
