{% extends "base.html" %} {% block content %}

<div class="">
  <h3 class="light-blue-text text-darken-4 center-align">Items Offered</h3>
  <p class="">Search below for player item offers</p>
</div>

<div class="row">
  {% for offer in offers %}
  <div class="col s12 m3">
    <div class="card light-blue darken-4 text-shadow center-align">
      <div class="card-content white-text">
        <span class="card-title"
          >{{ offer.item_type }} ({{ offer.item_quality}})</span
        >
        <p>
             {% if offer.armor > 0 %} 
            {{ offer.armor }} 
        </br> 
        {% endif %} 
            {% if offer.damage > 0 %} 
            {{ offer.damage }} 
            </br>
            {% endif %} 
          {% if offer.suffix != "none" %} 
          {{ offer.suffix }} 
          {% endif %} 
          {% for key, value in offer.affixes.items() %} 
          {{ key.replace("_", " ").capitalize() }}: 
          {{ value }}
        </br> 
          {% endfor %} 
        </p>
      </div>
      <div class="card-action">
        <a href="#" class="btn green accent-4">Edit</a>
        <a href="#" class="btn light-blue lighten-1">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
