{% extends "base.html" %} {% block content %}

<div class="">
     <h3 class="orange-color-text center-align">Items Offered</h3>

    <!-- Materialise side nav turned in to filter options -->
    <div id="slide-out" class="sidenav grey darken-3">
        <h5 class="orange-color-text center-align">Filter options</h5>
       <form id="filter-form" action=""> 

<div class="row center-align">
    <div class="input-field col s4">
        <div class="switch swich-offers">
            <i class="fa-solid fa-skull teal-color-text"></i>
            <label for="is_hardcore" class="teal-color-text swich-button">
                {% if user.is_hardcore == "on" %}
                <input type="checkbox" form="mainForm" id="is_hardcore" name="is_hardcore" checked />
                {% else %}
                <input type="checkbox" form="mainForm" id="is_hardcore" name="is_hardcore" />
                {% endif %}
                <span class="lever"></span>
            </label>
        </div>
    </div>

    <!-- is season toogle -->

    <div class="input-field col s4">
        <div class="switch swich-offers">
            <label for="is_season" class="teal-color-text swich-button">
                {% if user.is_season == "on" %}
                <input type="checkbox" form="mainForm" id="is_season" name="is_season" checked />
                {% else %}
                <input type="checkbox" form="mainForm" name="is_season" />
                {% endif %}
                <span class="lever"></span>
            </label>
            <i class="fa-brands fa-envira teal-color-text"></i>
        </div>
    </div>
</div>

        <!-- class choice -->
        <div class="input-field">
            <select name="class_preference" id="class-preference">
                {% for class in p_class %} {% if class == user.class_preference %}
                <option value="{{ class }}" selected>{{ class }}</option>
                {% else %}
                <option value="{{ class }}" >{{ class }}</option>
                {% endif %} {% endfor %}
            </select>
            <label>Chose class</label>
        </div>
        <!-- ittem choice -->
        <div class="input-field">
            <select name="item_preference"  id="item-preference">
                <option value="" disabled selected>Choose your option</option>
                {% for item in item_types %}
                <option value="{{ item }}" selected>{{ item }}</option>
                {% endfor %}
            </select>
            <label>Chose class</label>
        </div>

        <!-- Affixes choice -->
            <div class="input-field">
                <select name="affix_preference">
                    <option value="" disabled selected>Choose your option</option>
                    {% for item in item_types %}
                    <option value="{{ item }}" selected>{{ item }}</option>
                    {% endfor %}
                </select>
                <label>Chose up </label>
            </div>
       </form>
    </div>

    <!-- button to call side-nav filter options -->
    <a data-target="slide-out" class="sidenav-trigger btn-small orange-color"><i class="fa-solid fa-filter"></i> Filter options</a>
</div>



<div class="row offer-grid" >
  {% for offer in offers %}
  <div class="col s12 m6 l4 card-panel  hoverable green-color">
    <div class="card offer-card grey darken-3 text-shadow center-align">
      <div class="card-content white-text">
    
        <span class="card-title">
            <div>
            {{ offer.item_data }} ({{ offer.class_data }})
            </div>
            <div>
            {% if offer.is_hardcore == "on" %}
            <i class="fa-solid fa-skull prefix teal-color-text tooltipped" data-position="top" data-tooltip="Hardcore item"></i>
            {% endif %}
            {% if offer.is_season == "on" %}
            <i class="fa-brands fa-envira prefix teal-color-text tooltipped" data-position="top" data-tooltip="Seasonal item"></i>
            {% endif %}
            </div>
        </span>
        <p>
            {% if offer.armor > 0 %} 
                Armor: <span class="orange-color-text">{{ offer.armor }}</span>
                <hr/>
            {% endif %} 
            {% if offer.damage > 0 %} 
                Damage per second: <span class="orange-color-text">{{ offer.damage }}</span>
                <hr/>
            {% endif %} 
            {% if offer.suffix is not none %} 
                {{ offer.suffix }} <hr>
            {% endif %} 
            {% for key, value in offer.affixes.items() %} 
            <div class="affix-key">
               <span> {{ key.replace("-", " ").capitalize() }}: </span>
               <span class="orange-color-text">{{ value }}</span>
                </br> 
            </div>
            {% endfor %} 
            <hr/>
            Posted by: <a href="{{ url_for('profile', username=offer.created_by) }}" class="teal-color-text">{{ offer.created_by }}</a>
            <br>
            {% set time_d = (current_datetime - offer.date).days %}
            {% set time_m = ((current_datetime - offer.date).seconds / 60) | round(0, 'floor') | int %}
            {% set time_h = ((current_datetime - offer.date).seconds / 3600) | round(0, 'floor') | int %}
            {% if time_d == 1 %}    
                Posted {{ time_d }} day ago </br>
            {% elif time_d > 0 %}
                Posted {{ time_d }} days ago </br>
            {% elif time_m == 1 %}
                Posted {{ time_m }} minute ago </br>
            {% elif time_m < 59 %} 
                Posted {{ time_m }} minutes ago </br>
            {% elif time_h == 1  %}    
                Posted {{ time_h }} hour ago </br>
            {% elif time_h < 59 %} 
                Posted {{ time_h }} hours ago </br>
            {% endif %}
        </p>
      </div>
      <div class="card-action">
        <p class="orange-color-text">Current price: 
            <span>
                {% if offer.bids|length == 0 %}
                {{ offer.offer_price }}
                {% else %}
                {% set offer2= offer.bids[0].offer_bid %}
                {{ offer2 }}
                {% endif %}
            </span>
        </p>
        <a  href="{{ url_for('offer_info', offer_id=offer._id) }}" class="btn gold-color bid-check-button">Check Bids <i class="fa-solid fa-sack-dollar"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/offers.js') }}"></script>
{% endblock %}

