{% extends "base.html" %} {% block content %}

<!-- Item info -->
<div class="">
  <h3 class="white-text center-align">{{ offer.item_data }} ({{ offer.class_data }})
{% if offer.is_hardcore == "on" %}
<i class="fa-solid fa-skull prefix teal-color-text tooltipped" data-position="top"
    data-tooltip="Hardcore item"></i>
{% endif %}
{% if offer.is_season == "on" %}
<i class="fa-brands fa-envira prefix teal-color-text tooltipped" data-position="top"
    data-tooltip="Seasonal item"></i>
{% endif %}</h3>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card grey darken-3 text-shadow center-align">
      <div class="card-content white-text">
        <p>
            {% if offer.armor > 0 %} 
                Armor: <span class="orange-color-text">{{ offer.armor }}</span>
                <hr>
            {% endif %} 
            {% if offer.damage > 0 %} 
                Damage per second: <span class="orange-color-text">{{ offer.damage }}</span>
                <hr>
            {% endif %} 
            {% if offer.suffix is not none %} 
                {{ offer.suffix }} <hr>
            {% endif %} 
            {% for key, value in offer.affixes.items() %} 
            <div class="affix-key">
                <span> {{ key.replace("-", " ").capitalize() }}: </span>
                <span class="orange-color-text">{{ value }}</span>
                </br>
            </div>
            {% endfor %} 
            <hr>
        </p>
      </div>

      <!-- Offer action -->
        {% if offer.created_by == session.user and offer.trade.user %}
            <div class="card-action">
                <p class="bid-info teal-color-text">You have accepted <span><a class="gold-color-text offer-user-link" href="{{ url_for('profile', username=offer.trade.user) }}">{{ offer.trade.user }}</a></span> offer:</p>
                <p class="bid-info white-text"> {{ offer.trade.price }} </p>
                <a href="{{ url_for('offers') }}" class="btn-small purple-color text-shadow">Cancel trade <i
                        class="fa-solid fa-xmark"></i></a>
                <a href="#trade-confirmation" onclick="renderBidAcceptForm(this)" data-user="{{ offer.trade.user }}" data-trade="t-owner"
                    class="btn-small green-color text-shadow bid-accept-button modal-trigger">Confirm trade <i class="fa-solid fa-arrow-right-arrow-left"></i></a>
            </div>
        {% elif offer.trade.user == session.user %}
            <div class="card-action">
                <p class="bid-info teal-color-text"><a class="gold-color-text offer-user-link" href="{{ url_for('profile', username=offer.created_by) }}">{{
                    offer.created_by }}</a> have accepted Your offer:</p>
                <p class="bid-info white-text"> {{ offer.trade.price }} </p>
                <a href="{{ url_for('offers') }}" class="btn-small purple-color text-shadow">Cancel trade <i
                        class="fa-solid fa-xmark"></i></a>
                <a href="#trade-confirmation" onclick="renderBidAcceptForm(this)" data-user="{{ offer.trade.user }}"
                    data-trade="t-bidder" data-owner="{{ offer.created_by }}"  
                    class="btn-small green-color text-shadow bid-accept-button modal-trigger">Confirm trade <i
                        class="fa-solid fa-arrow-right-arrow-left"></i></a>
            </div>
        {% elif offer.created_by == session.user and offer.bids|length > 0 %}
        <!-- Created by sesion user and bids placed -->
            <div class="card-action">
                <p class="bid-info teal-color-text">best bid by: <span><a class="gold-color-text" href="{{ url_for('profile', username=offer.bids[0].user) }}">{{ offer.bids[0].user }}</a></span></p>
                <p class="bid-info white-text"> {{ offer.bids[0].offer_bid }} </p>
                <a href="{{ url_for('offers') }}" class="btn-small purple-color text-shadow">Cancel <i class="fa-solid fa-xmark"></i></a>
                <a href="#bid-acceptence" onclick="renderBidAcceptForm(this)" data-user="{{ offer.bids[0].user }}" data-bid="{{ offer.bids[0].offer_bid }}" data-owner="sale"
                    class="btn-small green-color text-shadow bid-accept-button modal-trigger">Accept Offer <i class="fa-solid fa-handshake-simple"></i></a>
            </div>
        {% elif offer.created_by == session.user and offer.bids|length == 0 %}
            <!-- Created by sesion user and no bids placed -->
            <div class="card-action">
                <p id="offer-bid-label" class="teal-color-text">There are no bids</p>   
            </div>
        {% else %}
         <!-- Created by other user so bids allowed -->
            <div class="card-action">
                <form id="bid-form" method="POST" action="{{ url_for('offer_info', offer_id=offer._id) }}">
                    <h6 id="offer-bid-label" class="teal-color-text">Your Bid:</h6>
                    <div class="col s12">
                        <i class="fa-solid fa-backward-fast teal-color-text bid-button" onclick="changeValue(1000000, false)"></i>
                        <i class="fa-solid fa-backward-step teal-color-text bid-button" onclick="changeValue(100000, false)"></i>
                        {% if offer.bids|length == 0 %}
                        <input id="offer-bid" name="offer_bid" value="{{ offer.offer_price }}" type="text" readOnly="true" class="teal-color-text" />
                        {% else %}
                        {% set offer2= offer.bids[0].offer_bid %}
                        <input id="offer-bid" name="offer_bid" value="{{ offer2 }}" type="text" readOnly="true"
                            class="teal-color-text" />
                        {% endif %}
                        <i class="fa-solid fa-forward-step teal-color-text bid-button" onclick="changeValue(100000, true)"></i>
                        <i class="fa-solid fa-forward-fast teal-color-text bid-button" onclick="changeValue(1000000, true)"></i>
                    </div>
                    <a href="{{ url_for('offers') }}" class="btn-small purple-color text-shadow">Cancel <i class="fa-solid fa-xmark"></i></a>
                    <button form="bid-form" type="submit" id="bid-submit-btn" class="btn-small green-color accent-4 text-shadow" disabled>
                        Bid <i class="fa-solid fa-coins"></i>
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
  </div>

  <!-- Bids info  -->
  <div class="col s12 m6">
    <div class="card grey darken-3 text-shadow center-align">
        <div class="card-title white-text">
           <p>Posted by: <span >
                <a class="orange-color-text" href="{{ url_for('profile', username=offer.created_by) }}">{{ offer.created_by }}</a>
                </span></p>
            <p>
            {% set time_d = (current_datetime - offer.date).days %}
            {% set time_m = ((current_datetime - offer.date).seconds / 60) | round(0, 'floor') | int %}
            {% set time_h = ((current_datetime - offer.date).seconds / 3600) | round(0, 'floor') | int %}
            {% if time_d == 1 %}
            {{ time_d }} day ago </br>
            {% elif time_d > 0 %}
            {{ time_d }} days ago </br>
            {% elif time_m == 1 %}
            {{ time_m }} minute ago </br>
            {% elif time_m < 59 %} 
            {{ time_m }} minutes ago </br>
            {% elif time_h == 1 %}
            {{ time_h }} hour ago </br>
            {% elif time_h < 59 %} 
            {{ time_h }} hours ago </br>
            {% endif %}
            </p>
        </hr>
        </div>
        <hr>
       <div class="bid-table white-text">
           <table >
               <tbody id="offer-bid-table">
                   {% for bid in offer.bids %}
                       <tr class="offer-bid-row">
                        {% if loop.index == 1 %}
                        <th>
                           <a class="purple-color-text" href="{{ url_for('profile', username=bid.user) }}">{{ bid.user }}</a>
                        </th>
                        <th>
                            <span class="purple-color-text">{{ bid.offer_bid }}</span>    
                        </th>
                        <th>
                            {% set time_d = (current_datetime - bid.date).days %}
                            {% set time_m = ((current_datetime - bid.date).seconds / 60) | round(0, 'floor') | int %}
                            {% set time_h = ((current_datetime - bid.date).seconds / 3600) | round(0, 'floor') | int %}
                            {% if time_d == 1 %}
                                <span class="purple-color-text"> {{ time_d }} day ago </span></br>
                                {% elif time_d > 0 %}
                                <span class="purple-color-text">{{ time_d }} days ago </span></br>
                                {% elif time_m == 1 %}
                                <span class="purple-color-text">{{ time_m }} minute ago </span></br>
                                {% elif time_m < 59 %} 
                                <span class="purple-color-text">{{ time_m }} minutes ago </span></br>
                                {% elif time_h == 1 %}
                                <span class="purple-color-text">{{ time_h }} hour ago </span></br>
                                {% elif time_h < 59 %} 
                                <span class="purple-color-text">{{ time_h }} hours ago </span></br>
                            {% endif %}
                        </th>
                            {% if offer.created_by == session.user %}
                            <th>
                                <a href="#bid-acceptence" onclick="renderBidAcceptForm(this)"  data-user="{{ bid.user }}"
                                    data-bid="{{ bid.offer_bid }}"
                                    class="btn-small purple-color bid-accept-button accept-hidden modal-trigger">
                                    <i class="fa-solid fa-handshake-simple"></i></button>
                            </th>
                            {% endif %}
                        {% else %}
                        <th>
                            <a class="orange-color-text" href="{{ url_for('profile', username=bid.user) }}">{{ bid.user }}</a>
                        </th>
                        <th>
                            <span>{{ bid.offer_bid }}</span>
                        </th>
                        <th>
                            {% set time_d = (current_datetime - bid.date).days %}
                            {% set time_m = ((current_datetime - bid.date).seconds / 60) | round(0, 'floor') | int %}
                            {% set time_h = ((current_datetime - bid.date).seconds / 3600) | round(0, 'floor') | int %}
                            {% if time_d == 1 %}
                            <span > {{ time_d }} day ago </span></br>
                            {% elif time_d > 0 %}
                            <span >{{ time_d }} days ago </span></br>
                            {% elif time_m == 1 %}
                            <span >{{ time_m }} minute ago </span></br>
                            {% elif time_m < 59 %} <span >{{ time_m }} minutes ago </span></br>
                                {% elif time_h == 1 %}
                                <span >{{ time_h }} hour ago </span></br>
                                {% elif time_h < 59 %} <span >{{ time_h }} hours ago </span></br>
                                    {% endif %}
                        </th>
                        {% if offer.created_by == session.user %}
                        <th>
                            <a href="#bid-acceptence" onclick="renderBidAcceptForm(this)"  data-user="{{ bid.user }}" data-bid="{{ bid.offer_bid }}"  class="btn-small teal-color bid-accept-button accept-hidden modal-trigger">
                                <i class="fa-solid fa-handshake-simple"></i></a>
                        </th>
                        <!-- type="submit" form="offer-form" -->
                        {% endif %}
                        {% endif %}
                       </tr>
                   {% endfor %}
               </tbody>
           </table>
       </div>
    </div>
  </div>
</div>

<!-- Invisible form -->
{% if offer.created_by == session.user  %}
<form id="offer-form" method="POST" action="{{ url_for('offer_info', offer_id=offer._id) }}">

        <!-- Contact id trigger -->
        <div>
            <input id="trade-user" name="user" type="hidden" readonly="true"/>
        </div>
        <div>
            <input id="trade-price" name="price" type="hidden" readonly="true"/>
        </div>
        <div>
            <input id="trade-by-owner" name="traded_by_owner" type="hidden" readonly="true"/>
        </div>
        <div>
            <input id="trade-by-bidder" name="traded_by_bidder" type="hidden" readonly="true"/>
        </div>
        <div>
            <input id="trade-accepted" name="accepted" type="hidden" readonly="true"/>
        </div>
</form>
{% endif %}

<!-- Modal bid -->
<div id="bid-acceptence" class="modal grey darken-3 white-text ">
    <div class="modal-content center-align">
        <h4>Do you wish to accept an offer?</h4>
        <div id="offer-details">

        </div>
    </div>
    <div class="modal-footer grey darken-3 center-align">
        <a href="#!" class="modal-close btn-small purple-color text-shadow">Cancel <i class="fa-solid fa-xmark"></i></a>
        <button type="submit" form="offer-form" class="modal-close btn-small teal-color">Accept <i class="fa-solid fa-handshake-simple"></i></button>
    </div>
</div>

<!-- Modal Trade -->
<div id="trade-confirmation" class="modal grey darken-3 white-text ">
    <div class="modal-content center-align">
        <h4>Confirm that you have traded item in game</h4>
        <div id="trade-details">
        </div>
    </div>
    <div class="modal-footer grey darken-3 center-align">
        <a href="#!" class="modal-close btn-small purple-color text-shadow">Not traded yet <i class="fa-solid fa-xmark"></i></a>
        <button type="submit" form="offer-form" class="modal-close btn-small teal-color">Trade completed <i
                class="fa-solid fa-handshake-simple"></i></button>
    </div>
</div>
{% endblock %}

{% block scripts %} 
    <script src="{{ url_for('static', filename='js/offer_info.js') }}"></script>
{% endblock %}
