{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel grey darken-3 white-text">
      <h3 class="center-align orange-color-text">
        {{ user.username }}'s Profile
      </h3>
      <!-- keeping contact details private -->
      {% if session.user == user.username %}
      <div class="profile-layout">
        <i class="fa-brands fa-battle-net teal-color-text"></i>
        <p>
          Battle net ID:
          <span class="teal-color-text">{{ user.b_net_id }}</span>
        </p>
      </div>
      <div class="profile-layout">
        <i class="fa-brands fa-discord teal-color-text"></i>
        <p>
          Discord: <span class="teal-color-text">{{ user.discord_id }}</span>
        </p>
      </div>
      {% endif %}
      <div class="profile-layout">
        <i class="fa-solid fa-people-group teal-color-text"></i>
        <p>
          Class <span class="teal-color-text">{{ user.class_preference }}</span>
        </p>
      </div>
      <div class="profile-layout">
        <i class="fa-solid fa-skull teal-color-text"></i>
        <p>
          Hardcore: <span class="teal-color-text">{{ user.is_hardcore }}</span>
        </p>
      </div>
      <div class="profile-layout">
        <i class="fa-brands fa-envira teal-color-text"></i>
        <p>Season: <span class="teal-color-text">{{ user.is_season }}</span></p>
      </div>
    </div>
    {% if session.user == user.username %}
    <a
      href="{{ url_for('edit_profile', username=session['user']) }}"
      class="btn-small gold-color"
      >Edit <i class="fa-regular fa-pen-to-square"></i
    ></a>
    {% elif session.user %}
    <a
      href="{{url_for('message', reciever=user.username)}}"
      class="btn-small gold-color"
      >message <i class="fa-regular fa-message"></i
    ></a>
    {% endif %}
  </div>
</div>

{% endblock %}
