{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel grey darken-3 white-text">
      <h3 class="center-align orange-color-text">
        {{ user.username }}'s Profile
      </h3>
      <!-- keeping contact details private -->
      {% if session.user == user.username %}
      <div class="profile-layout">
        <i class="fa-brands fa-battle-net teal-color-text"></i>
        <p>
          Battle net ID:
          <span class="teal-color-text">{{ user.b_net_id }}</span>
        </p>
      </div>
      <div class="profile-layout">
        <i class="fa-brands fa-discord teal-color-text"></i>
        <p>
          Discord: <span class="teal-color-text">{{ user.discord_id }}</span>
        </p>
      </div>
      {% endif %}
      <div class="profile-layout">
        <i class="fa-solid fa-people-group teal-color-text"></i>
        <p>
          Class <span class="teal-color-text">{{ user.class_preference }}</span>
        </p>
      </div>
      <div class="profile-layout">
        <i class="fa-solid fa-skull teal-color-text"></i>
        <p>
          Hardcore: <span class="teal-color-text">{{ user.is_hardcore }}</span>
        </p>
      </div>
      <div class="profile-layout">
        <i class="fa-brands fa-envira teal-color-text"></i>
        <p>Season: <span class="teal-color-text">{{ user.is_season }}</span></p>
      </div>
    </div>
    {% if session.user == user.username %}
    <a
      href="{{ url_for('edit_profile', username=session['user']) }}"
      class="btn-small gold-color"
      >Edit <i class="fa-regular fa-pen-to-square"></i
    ></a>
    {% elif session.user %}
    <a
      href="{{url_for('message', reciever=user.username)}}"
      class="btn-small gold-color"
      >message <i class="fa-regular fa-message"></i
    ></a>
    {% endif %}
  </div>
</div>

<div class="row offer-grid">
    <div>
        <h3 class="center-align orange-color-text">
            Offers   
        </h3>
    </div>
    {% for offer in offers %}
    <div class="col s12 m6 l4 card-panel hoverable green-color">
        <div class="card grey darken-3 text-shadow center-align">
            <div class="card-content white-text">

                <span class="card-title">
                    {{ offer.item_data }} ({{ offer.class_data }})
                    {% if offer.is_hardcore == "on" %}
                    <i class="fa-solid fa-skull prefix teal-color-text tooltipped" data-position="top"
                        data-tooltip="Hardcore item"></i>
                    {% endif %}
                    {% if offer.is_season == "on" %}
                    <i class="fa-brands fa-envira prefix teal-color-text tooltipped" data-position="top"
                        data-tooltip="Seasonal item"></i>
                    {% endif %}
                </span>
                <p>
                    {% if offer.armor > 0 %}
                    Armor: <span class="orange-color-text">{{ offer.armor }}</span>
                    <hr />
                    {% endif %}
                    {% if offer.damage > 0 %}
                    Damage per second: <span class="orange-color-text">{{ offer.damage }}</span>
                    <hr />
                    {% endif %}
                    {% if offer.suffix is not none %}
                    {{ offer.suffix }}
                    <hr>
                    {% endif %}
                    {% for key, value in offer.affixes.items() %}
                <div class="affix-key">
                    <span> {{ key.replace("-", " ").capitalize() }}: </span>
                    <span class="orange-color-text">{{ value }}</span>
                    </br>
                </div>
                {% endfor %}
                <hr />
                Posted by: <a href="{{ url_for('profile', username=offer.created_by) }}" class="teal-color-text">{{
                    offer.created_by }}</a>
                <br>
                {% set time_d = (current_datetime - offer.date).days %}
                {% set time_m = ((current_datetime - offer.date).seconds / 60) | round(0, 'floor') | int %}
                {% set time_h = ((current_datetime - offer.date).seconds / 3600) | round(0, 'floor') | int %}
                {% if time_d == 1 %}
                Posted {{ time_d }} day ago </br>
                {% elif time_d > 0 %}
                Posted {{ time_d }} days ago </br>
                {% elif time_m == 1 %}
                Posted {{ time_m }} minute ago </br>
                {% elif time_m < 59 %} Posted {{ time_m }} minutes ago </br>
                    {% elif time_h == 1 %}
                    Posted {{ time_h }} hour ago </br>
                    {% elif time_h < 59 %} Posted {{ time_h }} hours ago </br>
                        {% endif %}
                        </p>
            </div>
            <div class="card-action">
                <p class="orange-color-text">Current price:
                    <span>
                        {% if offer.bids|length == 0 %}
                        {{ offer.offer_price }}
                        {% else %}
                        {% set offer2= offer.bids[0].offer_bid %}
                        {{ offer2 }}
                        {% endif %}
                    </span>
                </p>
                <a href="{{ url_for('offer_info', offer_id=offer._id) }}" class="btn gold-color bid-check-button">Check
                    Bids <i class="fa-solid fa-sack-dollar"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
