{% extends "base.html" %} {% block content %}

<div class="">
  <h3 class="gold-color-text center-align">Items Offered</h3>
  <p class="">Search below for player item offers</p>
</div>

<div class="row">
  {% for offer in offers %}
  <div class="col s12 m3">
    <div class="card gold-color text-shadow center-align">
      <div class="card-content white-text">
        <span class="card-title"
          >{{ offer.item_type }} ({{ offer.item_quality}})</span
        >
        <p>
          {% if offer.armour > 0 %} {{ offer.armour }} </br> {% endif %} {% if
          offer.damage_per_second > 0 %} {{ offer.damage_per_second }} {% endif
          %} {% if offer.suffix != "none" %} {{ offer.suffix }} {% endif %} {%
          for key, value in offer.affixes.items() %} {{ key.replace("_", "
          ").capitalize() }}: {{ value }}</br> {% endfor %} 
        </p>
      </div>
      <div class="card-action">
        <a href="#" class="btn green-color accent-4">Edit</a>
        <a href="#" class="btn gold-color">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
